<div class="card">
    <div class="card-header bg-navy color-palette">
          <h5>Directors</h5>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-bordered table-striped table-sm text-nowrap">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of this.apiresponse.lts">
            <td class="text-center">{{list.id}}</td>
            <td class="text-center">{{list.firstName}}</td>
            <td class="text-center">{{list.lastName}}</td>
            <td class="text-center">
                <i class="far fa-edit fa-lg text-info" (click)="update(list)" style="cursor: pointer;"></i>
            </td>
            <td class="text-center">
                <i class="fa fa-trash fa-lg text-danger" (click)="delete(list.id)" style="cursor: pointer;"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
