    <!-- Main content -->
    <section class="content">
        <div class="container">
          <!-- Info boxes -->
          <div class="row">
            <div class="col-12">
              <h3>Bienvenidos Movies</h3>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!--/. container-fluid -->
      </section>
