<div class="card card-default">
    <div class="card-header bg-navy color-palette">
        <h3 class="card-title">Add/Edit Directors</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label class="label">Countries</label> 
                <select formControlName="idCountry" class="form-control">
                    <option *ngFor="let c of this.apiresponsec.lts" [value]="c.id">
                      {{ c.name }}
                    </option>
                  </select>
            </div>
            <div class="form-group">
                <button class="btn bg-navy btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar</button>
            </div>
        </form>
    </div> 
</div>
