<div class="card card-default">
    <div class="card-header bg-navy color-palette">
        <h3 class="card-title">Add/Edit Billboards</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="titles" placeholder="Titles" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <textarea class="form-control" formControlName="review" placeholder="Review"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="codeTrailer" placeholder="Code Trailer" maxlength="30">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="images" placeholder="Url Images" maxlength="250">
                </div>
            </div>
            <div class="form-group">
                <label class="label">Countries</label> 
                <select formControlName="idCountry" class="form-control">
                    <option *ngFor="let c of this.apiresponsec.lts" [value]="c.id">
                      {{ c.name }}
                    </option>
                  </select>
            </div>
            <div class="form-group">
                <label class="label">Gender</label> 
                <select formControlName="idGender" class="form-control">
                    <option *ngFor="let g of this.apiresponseg.lts" [value]="g.id">
                      {{ g.name }}
                    </option>
                  </select>
            </div>
            <div class="form-group">
                <label class="label">Directors</label> 
                <select formControlName="idDirector" class="form-control">
                    <option *ngFor="let d of this.apiresponsed.lts" [value]="d.id">
                      {{ d.firstName }} {{ d.lastName }}
                    </option>
                  </select>
            </div>
            <div class="form-group">
                <label class="label">Actors</label> 
                <select formControlName="idActor" class="form-control">
                    <option *ngFor="let a of this.apiresponsea.lts" [value]="a.id">
                      {{ a.firstName }} {{ a.lastName }}
                    </option>
                  </select>
            </div>
            <div class="form-group">
                <button class="btn bg-navy btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar</button>
            </div>
        </form>
    </div> 
</div>
