<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-info elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/home']" class="brand-link navbar-cyan">
      <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Movies</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link " [routerLink]="['/countries']">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Countries</p>
                </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link " [routerLink]="['/directors']">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Directors</p>
                </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link " [routerLink]="['/genders']">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Genders</p>
                </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link " [routerLink]="['/actors']">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Actors</p>
                </a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                  <a class="nav-link " [routerLink]="['/billboards']">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Billboards</p>
                  </a>
                </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
