<div class="card card-default">
    <div class="card-header bg-navy color-palette">
        <h3 class="card-title">Add/Edit Genders</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="name" placeholder="Genders" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <button class="btn bg-navy btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar</button>
            </div>
        </form>
    </div> 
</div>
