<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-5 mt-3 p-3">
              <app-form-genders></app-form-genders>
          </div>
          <div class="col-md-7 mt-3">
              <app-list-genders></app-list-genders>
          </div>
      </div>
    </div><!--/. container-fluid -->
</section>
